  <mat-toolbar *ngIf="!isAdminMode">
      <span class="flex"></span><h1 class="myfont"> My project requests </h1><span class="flex"></span>
  </mat-toolbar>
  <mat-toolbar *ngIf="isAdminMode">
      <span class="flex"></span><h1 class="myfont"> All projects requests </h1><span class="flex"></span>
  </mat-toolbar>
  
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
    
  <div class="mat-elevation-z8" >
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row" [routerLink]="['/edit', row.id]"> {{row.id}} </td>
      </ng-container>

      <!-- [ Admin ] ID Column -->
      <ng-container matColumnDef="requester_email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Requester email </th>
          <td mat-cell *matCellDef="let row" [routerLink]="['/edit', row.id]"> {{row.requester_email}} </td>
      </ng-container>

      <!-- GCP Project Id Column -->
      <ng-container matColumnDef="project_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> GCP Project Id </th>
        <td mat-cell *matCellDef="let row" [routerLink]="['/edit', row.id]"> {{row.project_id}} </td>
      </ng-container>
  
      <!-- GCP Project Name Column -->
      <ng-container matColumnDef="project_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> GCP Project Name </th>
        <td mat-cell *matCellDef="let row" [routerLink]="['/edit', row.id]"> {{row.project_name}} </td>
      </ng-container>
  
      <!-- Creation Date Column -->
      <ng-container matColumnDef="creation_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation Date </th>
        <td mat-cell *matCellDef="let row" [routerLink]="['/edit', row.id]"> {{row.creation_date}} </td>
      </ng-container>

      <!-- Project Status Column -->
      <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row" [style.color]="green" [routerLink]="['/edit', row.id]"> {{row.status}} </td>
        </ng-container>

  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  </div>
  

  <!-- Button dialog who help to request a GCP project-->
  <button id="but" (click)="showDialog()" *ngIf="dialogStatus == 'inactive' && !isAdminMode" mat-fab color="warn">
      <i class="material-icons">add</i>
  </button>

