<div id="container">
  <mat-toolbar  class="extend-toolbar">
    <span id="logo"> 
        <img src="assets/images/logo-SFEIR-blanc-orange.png" width="200" height="85" aria-label="sfeir" alt="Sfeir" />
    </span>

    <span class="flex"></span>

    <span>
      <a [routerLink]="['/admin']"><i class="material-icons" >dashboard</i><b> Dashboard</b></a> 
      <a [routerLink]="['/home']"><i class="material-icons" >home</i><b>Home</b></a>
    </span>
    
  </mat-toolbar>

  <mat-toolbar>
      <span class="flex"></span><h1  id="head" class="myfont"> My project requests </h1><span class="flex"></span>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <br>
  <mat-toolbar >  
    <span class="flex"></span>  <b>Sfeir Enterprise ©2018 Implemented By Andresse Njeungoue</b><span class="flex"></span>
  </mat-toolbar>
</div>