{
  "Project": "[GCP Control Tower Project Name]",
  "OAuth": {
    "ClientID": "[CLIENTID]",
    "ClientSecret": "[CLIENTSECRET]",
    "RedirectUrl": "[REDIRECTURL]"
  },
  "JWT": {
    "Secret": "[JWTSECRET]"
  }
}